{
  "name": "PROJECT_NAME",
  "main": "index.js",
  "version": "0.0.0",
  "authors": [
    "USER_NAME <USER_EMAIL>"
  ],
  "description":"my description",
  "license": "MIT",
  "ignore": [
    "**/.*",
    "node_modules",
    "bower_components",
    "test",
    "tests"
  ],
  "overrides": {
    "bootstrap-sass": {
      "main": [
        "assets/stylesheets/_bootstrap.scss",
        "assets/fonts/bootstrap/*",
        "assets/javascripts/bootstrap.js"
      ]
    }
  },
  "dependencies": {
    "gsap": "~1.18.0",
    "bootstrap": "~3.3.6",
    "susy": "~2.2.7",
    "compass-breakpoint": "~2.6.1",
    "components-font-awesome": "~4.5.0",
    "bootstrap-sass": "~3.3.6",
    "modernizr": "~3.2.0"
  },
  "devDependencies": {
    "chai": "~3.4.2",
    "mocha": "~2.3.4",
    "coffee-script": "~1.10.0"
  }
}
